
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

// github-markdown-css
@import "~github-markdown-css/github-markdown.css";

html, body,#app {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  position: relative;
  line-height: 2;
}
main {
  min-height: 100%;
}
.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.article-card {
  margin-bottom: 1rem;
}
.article-card .card-body {
  padding: 0;
}
.article-card .card-header {
  color: #555;
  font-size: 20px;
  font-weight: 700;
}
.article-item {
  display: inline-block;
  margin-right: 1rem;
}
.read_btn {
  margin-right: 0;
}
.tag-item {
  margin-bottom: .5rem;
}
.right-card {
  margin-bottom: 1rem;
}

footer {
  padding: 1rem;
  background-color: #000;
  color: #fff;
}

.pad-1 {
  padding: 1rem;
}

// article区域
.markdown-body {
  //box-sizing: border-box;
  //min-width: 200px;
  //max-width: 980px;
  //margin: 0 auto;
  //padding: 45px;
}

@media (max-width: 767px) {
  .markdown-body {
    padding: 15px;
  }
}